#content>.card .card-header{
    text-align: center;
    background: #d8ebfa;
    padding: 20px 0;
    color: #2f72b6;
    font-size: 2px;
}
#content>.card .card-header h1{
    padding: 0 3%;
}
#main .right-info ul{
    padding-left: 1rem;
    margin-bottom: 0;
}
.content{
    padding: 2rem;
}
@media (max-width:576px) {
    .content{
        padding: 1rem;
    }
}
.content img{
    width: 100%;
}